.head {
  width: 128px;
	height: 85px;
	background: #f4dac3;
  border-radius: 20%;
  margin-left: 55px;
  margin-top: 56px;
  position:absolute;
  animation-name:move;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 3px 3px 20px #EEC7A3;

}

@keyframes move {
  0% {
    transform:translateX(0px,);

  }

  50% {
    transform:translateX(15px);

  }

  100% {
    transform:translateX(30px);

  }
}

@keyframes movebrow {
  0% {
    transform:translateY(0px,);

  }

  100% {
    transform:translateY(-5px);

  }
}


.left-brow {
  background-image: url("eyebrow1.png");
  background-repeat: no-repeat;
  background-size:contain;
  width:48px;
  height:28px;
  float:left;
  animation-name:movebrow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.right-brow {
  background-image: url("eyebrow2.png");
  background-repeat: no-repeat;
  background-size:contain;
  width:48px;
  height:28px;
  float:right;
  transform: translateY(2px);

}

.eyebrows {
  width:85%;
  height:28px;
  padding-top: 12px;
  margin: 0 auto;
  margin-left: 11px;

}

.eyes {
  width:85%;
  height:28px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 25px;

}

.left-eye {
  background-image: url("eye.png");
  background-repeat: no-repeat;
  background-size:contain;
  width:28px;
  height:28px;
  float:left;
  transform: translate(-2px,-5px);

}

.right-eye {
  background-image: url("eyeright.png");
  background-repeat: no-repeat;
  background-size:contain;
  width:28px;
  height:28px;
  float:right;
  transform: translate(-21px,-5px);

}

.nose {
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 18px solid #ddc0a6;
  transform: translate(54px,-12px);

}

.nose {
  width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 12px solid #ddc0a6;
  transform: translate(58px,-14px);

}

.hair {
  margin-top: -115px;
  margin-left: -15px;
  width:150px;
  height:150px;
  position:relative;

}
